extends layout

block content
  h2 Lovelace is the best ever!

  p Check out the awesome example buttons below!

  p This one is loaded with the following code:
    br
    pre
      code
        Lovelace.complete('buttons/primary', { text: "I'm a primary button!" })

  p!= Lovelace.complete('buttons/primary', { text: "I'm a primary button!" })

  p This one is loaded with the following code:
    br
    pre
      code
        Lovelace.complete('buttons/secondary', { text: "I'm a secondary button!" })

  p!=Lovelace.complete('buttons/secondary', { text: "I'm a secondary button!" })
