<{{ tag }}
  class="button button--primary {{#disabled}}disabled{{/disabled}} {{#block}}btn-block{{/block}} {{ custom_classes }}"
  {{#url}}href="{{ url }}"{{/url}}
  {{#disabled}}disabled{{/disabled}}
  onclick="javascript:window.alert('ack! my face!');"
>
  {{ text }}
</{{ tag }}>
