<{{ tag }}
  class="btn btn-primary {{#disabled}}disabled{{/disabled}} {{#block}}btn-block{{/block}} {{ custom_classes }}"
  {{#url}}href="{{ url }}"{{/url}}
  {{#disabled}}disabled{{/disabled}}
>
  {{ text }}
</{{ tag }}>
